@page
@using Bookmarks.Models
@model IndexModel
@{
    ViewData["Title"] = "Bookmarks Site";
}

<div id = "allBookmarks">
	@foreach(Bookmark bookmark in Model.Bookmark)
	{
		<div class = "Bookmark">
			<img src= "https://logo.clearbit.com/@bookmark.Url?size=128.jpg" height="128" width="128"/>
			<a href="https://@bookmark.Url">@bookmark.Name</a>
			
		</div>
	}
</div>
<input id="newBookmarkBtn" type="button" value="NEW BOOKMARK"/>
<div id="newBookmarkPopup">
	<input id="nameField" type="text" placeholder="Name" /> <br />
	<input id="urlField" type="text" placeholder="Url" /> <br />
	<input id="addBookmarkBtn" type="button" value="ADD"/>
</div>